.recipes {
    display: flex;
    padding: 30rpx 0;
    &__item {
        margin-bottom: 20rpx;
        &-title {
            font-size: 40rpx;
            font-weight: 700;
            margin-bottom: 20rpx;
        }
        &-sub {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            &-item {
                width: calc((100% - 80px) / 4);
                margin-right: 20px;
                margin-bottom: 20px;
                border: 1rpx solid #e2e2e4;
                border-radius: 25rpx;
                padding: 10px;
                box-sizing: border-box;
                text-align: center;
                background-color: antiquewhite;
                &:nth-of-type(4n+0) {
                    margin-right: 0;
                }
            }
        }
    }
}