.index {
    &__header {
        height: 150px;
        background-color: #E9F3F0;
        display: flex;
        justify-content: center;
        align-items: center;
        &-search {
            display: flex;
            flex-direction: row;
            &-input {
                border-radius: 10px;
                border: 1px solid #22BB9B;
                width: 400px;
                height: 70px;
                line-height: 70px;
                padding-left: 30px;
            }
            &-btn {
                margin-left: 28px;
                background-color: #22BB9B;
                height: 70px;
                width: 70px;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &-icon {
                height: 28px;
                width: 35px;
            }
        }
    }
}