.fav-list {
    &__item {
        display: flex;
        flex-direction: row;
        height: 228rpx;
        background-color: #F9F9F9;
        border: 1rpx solid #F5F5F5;
        border-radius: 50rpx;
        margin-bottom: 20rpx;
        align-items: center;
        position: relative;

        &:last-child {
            margin-bottom: 0;
        }
        &-img {
            height: 140px;
            width: 140px;
            border: 30px solid #fff;
            border-radius: 50%;
            box-shadow: 10px 10px 20px 10px #DDE0D1;
            margin: 0 40px 0 80px;
        }

        &-info {
            &-title {
                font-size: 36px;
                margin-bottom: 34px;
            }
            &-time {
                color: #161B1F;
            }
            &-favoriteNum {
                display: flex;
                align-items: center;
                &-icon {
                    height: 32rpx;
                    width: 32rpx;
                    margin-right: 10rpx;
                }
            }
        }

        &-favicon {
            height: 60rpx;
            width: 60rpx;
            position: absolute;
            top: 20rpx;
            left: 20rpx;
        }

    }
    
}