$height: 370rpx;
$avatarSize: 180rpx;

.user-profile {
    background-color: #f8b155;
    height: $height;
    &__wrap {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
    }
    &__avatar {
        margin-left: 90px;
        width: $avatarSize;
        height: $avatarSize;
        border-radius: $avatarSize / 2;
        overflow: hidden;

        &-img {
            width: $avatarSize;
            height: $avatarSize;
        }
    }
    &__info {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-left: 50px;

        &-name {
            color: #444;
            font-size: 36px;
            line-height: 36px;
        }
        &-tip {
            margin-top: 28px;
            color: rgba(0, 0, 0, 0.3);
            font-size: 28px;
            line-height: 28px;
        }
    }
}