$theme-color: #E9F3F0;
$text-main: #5c5c5c;
$text-minor: #959696;
.index-icon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // padding: 30px;
    margin-top: 30px;
    &_item {
        border-radius: 30px;
        width: 25%;
        height: 220px;
        // margin: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &-img {
            height: 106px;
            width: 106px;
            // background: $theme-color;
            border-radius: 50%;
            // border: 20px solid $theme-color;
        }
        &-text {
            margin-top: 30px;
            font-size: 34px;
            color: $text-main;
        }
    }
}