$bgcolor: #22BB9B;
$navHeight: 74rpx;
$text-main: #5c5c5c;
.favorites {
    padding: 20rpx 44rpx;
    &__tab {
        display: flex;
        flex-direction: row;
        font-size: 30rpx;
        margin-bottom: 40rpx;
        &-item {
            width: 160rpx;
            height: $navHeight;
            line-height: $navHeight;
            border-radius: 50rpx;
            text-align: center;
            border: 1rpx solid #ccc;
            margin-right: 20rpx;
        }
        .active {
            background-color: $bgcolor;
            color: #fff;
            border: 1rpx solid $bgcolor;
        }
    }
    .no-data {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $text-main;
        margin-top: 200px;
        &-icon {
            height: 300px;
            width: 300px;
            margin-bottom: 80px;
        }
    }
}