$text-main: #5c5c5c;
$text-minor: #959696;
$text-high: #f8b155;
$text-gray: #a9a9a9;
$border-fourth: #f5f9fd;
$border-first: #a9a9a9;
$border-third: #f0f0f0;
.search {
    &__wrap{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 30px;
        &-input {
            border-radius: 10px;
            border: 1px solid $text-high;
            width: 400px;
            height: 70px;
            line-height: 70px;
            padding-left: 30px;
        }
        &-btn {
            margin-left: 28px;
            background-color: $text-high;
            height: 70px;
            width: 70px;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-icon {
            height: 28px;
            width: 35px;
        }
    }
    &__res {
        padding: 20px 44px;
        &-item {
            border-bottom: 1px solid $border-third;
            line-height: 80px;
            font-size: 28px;
            display: flex;
            flex-direction: row;
            align-items: center;
            &-icon {
                height: 50px;
                width: 50px;
                margin-right: 20px;
            }
            &-text {}
        }
        &-no {
            color: $text-gray;
            text-align: center;
        }
    }
}