$height: 500rpx;
.detail {
    padding-bottom: 50px;
    &__header {
        height: $height;
        background-color: #E9F3F0;
        &-swiper {
            height: $height;  
        }
        &-swiperitem-img {
            height: $height;
            width: 100%;
        }
    }
    &__title {
        font-size: 50rpx;
        padding: 30rpx;
        text-align: center;
        font-weight: 600;
    }
    &__info {
        border-radius: 50rpx;
        background-color: #FF9B00;
        margin: 0 44rpx;
        padding: 20rpx 36rpx;
        color: #fff;
        font-size: 32rpx;
        line-height: 1.8;
    }
    &__steps {
        margin: 20rpx 44rpx;
        font-size: 34rpx;
        line-height: 1.8;
        color: #696464;
        &-title {
            font-size: 40rpx;
            color: #000;
            line-height: 2;
        }
    }
    &__favicon {
        height: 60px;
        width: 60px;
        position: absolute;
        top: 350px;
        right: 60px;
        border: 20px solid transparent;
        border-radius: 50%;
        box-shadow: 10px 10px 20px 0px #DDE0D1;
        background-color: #fff;
    }
}