$height: 400rpx;
$text-main: #5c5c5c;
$text-minor: #959696;
$text-high: #f8b155;
.detail {
    padding-bottom: 50px;
    &__header {
        height: $height;
        &-swiper {
            height: $height;  
        }
        &-swiperitem-img {
            height: $height;
            width: 100%;
        }
    }
    &__title {
        font-size: 50rpx;
        padding: 30rpx;
        font-weight: 600;
    }
    &__baseInfo {
        display: flex;
        flex-direction: row;
        padding: 0 30px 30px 30rpx;
        &-item {
            display: flex;
            flex-direction: row;
            width: 50%;
            &-icon{
                height: 40px;
                width: 40px;
                margin-right: 20px;
            }
            &-text {
                font-size: 28px;
                line-height: 40px;
            }
        }
    }
    &__info {
        margin: 44px;
        font-size: 32rpx;
        line-height: 2.7;
        &-item {
            display: flex;
            flex-direction: row;
            border-bottom: 1rpx dashed #e3e4e3;
            &-title {
                width: 180px;
            }
            &-text {
                color: $text-minor;
            }
        }
    }
    &__steps {
        margin: 44rpx;
        font-size: 34rpx;
        line-height: 2.7;
        color: #696464;
        &-title {
            font-size: 40rpx;
            color: #000;
            line-height: 2;
        }
    }
    &__favicon {
        height: 60px;
        width: 60px;
        position: absolute;
        top: 300px;
        right: 60px;
        border: 15px solid transparent;
        border-radius: 35%;
        box-shadow: 10px 10px 20px 0px #DDE0D1;
        background-color: #fff;
    }
}